{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block 'body' %}
<br>
<br>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <br>
            <img class="h-8 w-auto rounded-md" src="{% static 'assets/icons/logo_icon.svg' %}">
            <br>
            <h4 class="card-title text-center">Bem-vindo</h4>
              
            <form method="POST">
                {%csrf_token%}
                <input type="hidden" name="next" value="{{ next }}">

                {{ form|crispy }}
            <div class="login-center">
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
                <br>
                <a class="change-form-p" href="/accounts/register">Criar conta</a>
            </div>
        </div>
    </div>
</div>
<br>
<br>
{% endblock %}