
/* Definição de fontes */
  h1, h2, h3, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 240px;
    font-weight: bold;
    color: #fffdfd;
    text-align: center;
  }
   
  li {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    color: #fffdfd;
    line-height: 1.5;
  }
  p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fffdfd;
  }
  /* Definição de espaçamento */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
  }
  
  /* Definição de botões */
  .button {
    display: inline;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fffdfd;
    background-color: #f9fafb;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  .button:hover,
  .button:focus {
    background-color: #105094;
    outline: none;
  }
  /* Definição de formulários */
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #fffdfd;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #eff1f3;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .form-control:focus {
    border-color: #fcfcfc;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .form-colaborador{
    width: 100%;
    display:inline-flex;
    flex-direction: column;

  }
  .form-colaborador h1{
    width: 100%;
    text-align: center;
  }
  .form-colaborador p label{
    width: 100%;
    display:inline-flex;
    flex-direction: column;
    text-align: left;
  }
  .filtroform {
    display: flex;
    gap: 20px;
    margin: 20px 0px 20px 0px;
 }
 .item1{
  width: 40%;
  display: inline-flex;
  gap: 20px;
 }
 .item2 {
  width: 45%;
  display: inline-flex;
  gap: 3px;
 }
 .item2 input{
  max-width: 200px;
 }
 .item2 button{
  margin-left: 10px;
 }
  select{
    width: max-content;
    padding: 5px;
    border-radius: 5px;
  }
  .foto{
    max-width:100px;
    max-height:140px;
    width: auto;
    height: auto;
    margin-bottom: 5px;
  }
  .busca__icone{
    max-width: 20px;
    height: 20px;
    display: inline;
  }
  .link{
    text-decoration: none;
}
  .documentos{
    background-color: #e8e7e7;
    color: rgb(252, 248, 248);
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
  }
  .fas.fa-edit{
    color: #fffdfd;
    cursor:pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
  }
  .fas.fa-trash{
    color: red;
    cursor:pointer;
    font-size: 20px;
    float: right;
  }
  .editPrint{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  table thead{
    color: #fffdfd;  
 }
  table tbody{
      color: #fffdfd;
  }
  table a{
    color: #fffdfd;
  }
  .login-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .auth-card{
    width: 100%;
    padding: 30px;
  }
  .auth-card li{
    color: black;
  }

  @media print { 
    #noprint { display:none !important;
      } 
    
      body {
        background-color: white;
        color: black;
      }
      h1, h2, h3, h6{
        color: #080808;
      }
      table thead{
        color: #080808;  
     }
      table tbody{
          color: #080808;
      }
      table a{
        color: #101010;
      }
    
      .highlight {
        background-color: #e0e0e0; /* Um cinza claro para destacar o texto */
        color: #333;
      }
  }

  
