
/* Definição de fontes */
  h1, h2, h3, h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 240px;
    font-weight: bold;
    color: #fffdfd;
    text-align: center;
  }
   
  li {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    color: #fffdfd;
    line-height: 1.5;
  }
  p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #fffdfd;
  }
  /* Definição de espaçamento */
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px;
  }
  
  /* Definição de botões */
  .button {
    display: inline;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fffdfd;
    background-color: #f9fafb;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
  }
  .button:hover,
  .button:focus {
    background-color: #105094;
    outline: none;
  }
  /* Definição de formulários */
  .form-group {
    margin-bottom: 20px;
  }
  .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #fffdfd;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #eff1f3;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .form-control:focus {
    border-color: #fcfcfc;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  .form-colaborador{
    width: 100%;
    display:inline-flex;
    flex-direction: column;
  }
  .form-colaborador h1{
    width: 100%;
    text-align: center;
  }
  .form-colaborador p label{
    width: 100%;
    display:inline-flex;
    flex-direction: column;
    text-align: left;
  }
  .filtroform-busca{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
 }
  #principal-item-filtroform-busca {
  flex-grow: 3;
  }  
  .filtroform{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
 }
  .filtroform label{
    color: #fffdfd;
  }
  /*Ajustes de Imagens */
  .foto{
    max-width:100px;
    max-height:140px;
    width: auto;
    height: auto;
    margin-bottom: 5px;
  }
  .busca__icone{
    max-width: 20px;
    height: 20px;
    display: inline;
  }
  .link{
    text-decoration: none;
}
  .documentos{
    background-color: #e8e7e7;
    color: rgb(252, 248, 248);
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
  }
  /*Ajustes de Icones na Tabela*/
  .fas.fa-edit{
    color: #fffdfd;
    cursor:pointer;
    margin: 5px;
    font-size: 20px;
    float: right;
  }
  .fas.fa-trash{
    color: red;
    cursor:pointer;
    font-size: 20px;
    float: right;
  } 
  /*  Ajustes de Tabela   */ 
  table thead{
    color: #fffdfd;  
  }
  table tbody{
    color: #fffdfd;
    text-align: left;
  }
  table a{
    color: #fffdfd;
  }
  .align-i{
    width:50%;
    display: flex;
    justify-content: center;
  }
  .login-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .auth-card{
    width: 100%;
    padding: 30px;
  }
  .auth-card li{
    color: black;
  }
  /*  Ajustes de Paginação   */
  .pagination {
    text-align: center;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    }
  .step-links {
    display: inline-block;
    padding: 10px;  
    border-radius: 5x;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  .step-links a {
    margin: 0 8px;
    padding: 6px 12px;
    text-decoration: none;
    color: #fffdfd;
    border: 1px solid rgb(201, 210, 223);
    border-radius: 4px;
    transition: background-color 0.2s ease;
  }
  .step-links a:hover {
    border-color:rgba(232, 235, 239, 0.87);
    box-shadow: 0 0 5px rgba(247, 247, 253, 0.74);
    color:rgba(13, 13, 50, 0.89);
    background-color:rgba(255, 253, 253, 0.87);
  }
  .step-links .current {
    margin: 0 5px;
    font-weight: bold;
    color: rgb(228, 232, 237);
  }
  .step-links .disabled {
    margin: 0 8px;
    padding: 6px 12px;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    background-color: transparent;
  }
  /*  FOOTER   */
  footer{
    width: 100%;
    padding-bottom: 15px;
  }
  .editPrint{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  } 
  @media print { 
    #noprint { display:none !important;
      } 
    
      body {
        background-color: white;
        color: black;
      }
      h1, h2, h3, h6{
        color: #080808;
      }
      table thead{
        color: #080808;  
     }
      table tbody{
          color: #080808;
      }
      table a{
        color: #101010;
      }
    
      .highlight {
        background-color: #e0e0e0; /* Um cinza claro para destacar o texto */
        color: #333;
      }
  }

  
