{%extends 'base.html'%}
{% load static %}

{% block 'body' %}
{% include "partials/navbar.html" %}

<div class="container">
    <strong> <h2>COLABORADORES</h2> </strong>
 
    <!-- mensagens de erro -->
    {% if messages %}
        <div class="fixed top-5 right-5 space-y-4 z-50"> 
        {% for message in messages %}
            <div class="flex items-center justifiy-between px-4 py-3 rounded-lg shadow-lg
            text-red-700"
            {% if message.tags == 'error'%} bg-red-500
            {% elif message.tags == 'success'%} bg-green-500
            {% elif message.tags == 'info'%} bg-blue-500
            {% elif message.tags == 'warning'%} bg-yellow-500
            {% else %} bg-gray-500 {% endif %}>
            <span>{{ message }}</span>
            <button onclick="this.parentElement.remove()" class="ml-4 text-red hover:text-gray-200 focus:outline-none">
                X
            </button>
            </div>    
        {% endfor %}
        </div>
    {% endif %}
    
   <!-- filtros -->
    <div class="filtroform-busca"  id="noprint">
        <form action="{% url 'buscar' %}" id="principal-item-filtroform-busca">
            <div class="form-group">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" name="buscar" type="text" placeholder="Digite o nome do colaborador..."
                        aria-label="Digite o nome" aria-describedby="basic-addon2">
                    
                            <button class="btn btn-outline-secondary" type="submit">
                                Pesquisar
                                <img class="busca__icone" src="{% static '/assets/icons/search.png' %}"
                                alt="ícone de search">
                            </button>
                    </div>
                </div>               
            </div>               
        </form>

        <form action="{% url 'colaboradores_por_departamento' %}">        
            <button type="submit" class="btn btn-primary">relatorio geral</button> 
        </form>
        
        <div>
            <button onclick="window.print()" class="btn btn-primary">Imprimir</button>
        </div> 
        

    </div>


    <form method="POST" action="{% url 'colaborador-lista' %}" class="filtroform" id="noprint">
        {% csrf_token %}
        <select class="form-select" aria-label="Default select example" name="departamento" id="departamento">
            <option value="">Selecione o Departamento.</option>
            {% for valor, nome in opcoes_departamentos %}
                <option value="{{ valor }}">{{ nome }}</option>
            {% endfor %}
        </select>

        <select class="form-select" aria-label="Default select example" name="classificacao" id="classificacao">
            <option value="">Selecione a classificação.</option>
            {% for valor, nome in opcoes_classificacao %}
                <option value="{{ valor }}">{{ nome }}</option>
            {% endfor %}
        </select>

            <label class="meu-label">Data Inicial:</label>    
            <input type="date" name="data_inicial" id="data_inicial" class="form-control">
            <label class="meu-label">Data Final:</label>
            <input type="date" name="data_final" id="data_final" class="form-control">
            <button class="btn btn-primary" type="submit">Filtrar</button>

    </form>
    <!-- filtros -->
    <h6>Total de Colaboradores: {{quantidade}}</h6>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">COLABORADOR</th>
                <th scope="col">CPF</th>
                <th scope="col">DATA NASC.</th>
                <th scope="col">MATRÍCULA</th>
                <th scope="col">EDITAR</th>
            </tr>
        </thead>
        <tbody>
            {% for colaborador in colaboradores_list %}
            <tr>
                <td><a href="/colaboradorID/{{colaborador.id}}">{{ colaborador.nome }}</td>
                <td>{{ colaborador.cpf }}</td>
                <td>{{ colaborador.data_nascimento|date:"d/m/Y" }}</td>
                <td>{{ colaborador.matricula }}</td>
                <td> <div class="align-i"><a href="/colaborador/{{colaborador.id}}/update/"><span> <i class="fas fa-edit"></i></span></div></td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="4">nenhum colaborador encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

        <!-- Paginação -->
        <div class="pagination" id="noprint">
            <span class="step-links">
                {% if colaboradores_list.has_previous %}
                    <a href="?page={{ colaboradores_list.previous_page_number }}">Anterior</a>
                {% else %}
                    <span class="disabled">Anterior</span>
                {% endif %}

                {% if colaboradores_list.has_next %}
                    <a href="?page={{ colaboradores_list.next_page_number }}">Próxima</a>
                {% else %}
                    <span class="disabled">Próxima</span>
                {% endif %}
            </span>
        </div>

</div>
{% endblock %}