{%extends 'base.html'%}
{% load static %}

{% block 'body' %}
{% include "partials/navbar.html" %}

<div class="container">
    <h1>COLABORADORES DESLIGADOS</h1>

    <!-- filtro Busca por nome -->
    <form action="{% url 'buscar' %}">
        <div class="form-group">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" name="buscar_desligados" type="text" placeholder="Digite o nome do colaborador..."
                    aria-label="Digite o nome" aria-describedby="basic-addon2">
                
                        <button class="btn btn-outline-secondary" type="submit">
                            Pesquisar
                            <img class="busca__icone" src="{% static '/assets/icons/search.png' %}"
                            alt="ícone de search">
                        </button>
                </div>
            </div>               
        </div>               

    </form>

    <div class="">
        <form method="POST" action="{% url 'colaborador-desligado' %}">
            {% csrf_token %}
            <div class="filtroform ">
                <div class="item1" id="noprint">
                    <select class="form-select" aria-label="Default select example" name="departamento_desligado" id="departamento_desligado">
                        <option value="">Selecione o Departamento.</option>
                        <option value="FINACEIRO">FINACEIRO</option>
                        <option value="CENTRAL_ATENDIMENTO">CENTRAL DE ATENDIMENTO</option>
                        <option value="CENTRAL_INADIMPLENCIA">CENTRAL DE INADIMPLÊNCIA</option>
                        <option value="COBRANCA">COBRANÇA</option>
                        <option value="CONTROLE_QUALIDADE">CONTROLE DE QUALIDADE</option>
                        <option value="REAL_CREDIT">REAL CREDIT</option>
                        <option value="RELACIONAMENTO">RELACIONAMENTO</option>
                        <option value="COMERCIAL">COMERCIAL</option>
                        <option value="RH">RH</option>
                        <option value="DEP_PESSOAL">DEPARTAMENTO PESSOAL</option>
                        <option value="JURIDICO">JURIDICO</option>
                        <option value="CONTABIL">CONTÁBIL</option>
                        <option value="CENTRAL_VENDAS">CENTRAL DE VENDAS</option>
                        <option value="SUPORTE_ADM">SUPORTE ADM</option>
                        <option value="FRANQUIAS_DISTRIBUIDORES">FRANQUIAS / DISTRIBUIDORES</option>
                        <option value="GERENCIA_CORPORATIVA">GERENCIA_CORPORATIVA</option>
                        <option value="DIRETORIA_EXECUTIVA">DIRETORIA EXECUTIVA</option>
                        <option value="INFORMATICA">INFORMÁTICA</option>
                    </select>
                    <select class="form-select" aria-label="Default select example" name="classificacao_desligado" id="classificacao_desligado">
                        <option value="">Selecione a classificação.</option>
                        <option value="FUNCIONARIO">FUNCIONÁRIO</option>
                        <option value="ESTAGIARIO">ESTAGIÁRIO</option>
                        <option value="MEI">MEI</option>
                    </select>
                </div>

                <div class="item2" id="noprint">    
                    <label >Data inicial:</label>    
                    <input type="date" name="data_inicial_desligado" id="data_inicial_desligado" class="form-control">
                    <label >Data final:</label>
                    <input type="date" name="data_final_desligado" id="data_final_desligado" class="form-control">
                    
                    <button class="btn btn-primary" type="submit">Filtrar</button>
                </div>
            </div>    
        </form>
    </div>

    <h6>Total de Colaboradores: {{quantidade}}</h6>
            
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">COLABORADOR</th>
                    <th scope="col">CPF</th>
                    <th scope="col">DATA ENTRADA.</th>
                    <th scope="col">DATA SAIDA.</th>
                    <th scope="col">MATRÍCULA</th>
                    <th scope="col">EDITAR</th>
                </tr>
            </thead>    
            <tbody>
                {% for colaborador in colaboradores_list %}
                    <tr>
                        <td><a href="/colaboradorID/{{colaborador.id}}">{{ colaborador.nome }}</td>
                        <td>{{ colaborador.cpf }}</td>
                        <td>{{ colaborador.data_entrada }}</td>
                        <td>{{ colaborador.data_saida }}</td>
                        <td>{{ colaborador.matricula }}</td>
                        <td><a href="/colaborador/{{colaborador.id}}/update/"><span><i class="fas fa-edit"></i></span></td>                
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">nenhum colaborador encontrado.</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
    <div id="noprint" class="editPrint">
        <div><button onclick="window.print()" class="btn btn-primary">Imprimir</button></div> 
    </div>
</div>

{% endblock %}


    <!-- Filtros por classificação -->
    {% comment %} <a href="{% url 'filtro' 'FUNCIONARIO' %}" class="btn btn-primary mb-3">Funcionários</a> {% endcomment%}
    {% comment %} <a href="{% url 'filtro' 'ESTAGIARIO' %}" class="btn btn-primary mb-3">Estagiários</a> {% endcomment%}
    

        