{%extends 'base.html'%}
{% load static %}

{% block 'body' %}
{% include "partials/navbar.html" %}

<div class="container">
    <strong> <h2>COLABORADORES</h2> </strong>
 
    <!-- mensagens de erro -->
    {% if messages %}
        <div class="fixed top-5 right-5 space-y-4 z-50"> 
        {% for message in messages %}
            <div class="flex items-center justifiy-between px-4 py-3 rounded-lg shadow-lg
            text-red-700"
            {% if message.tags == 'error'%} bg-red-500
            {% elif message.tags == 'success'%} bg-green-500
            {% elif message.tags == 'info'%} bg-blue-500
            {% elif message.tags == 'warning'%} bg-yellow-500
            {% else %} bg-gray-500 {% endif %}>
            <span>{{ message }}</span>
            <button onclick="this.parentElement.remove()" class="ml-4 text-red hover:text-gray-200 focus:outline-none">
                X
            </button>
            </div>    
        {% endfor %}
        </div>
    {% endif %}
    
   <!-- filtros -->
    <form action="{% url 'buscar' %}">
        <div class="form-group" id="noprint">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" name="buscar" type="text" placeholder="Digite o nome do colaborador..."
                    aria-label="Digite o nome" aria-describedby="basic-addon2">
                
                        <button class="btn btn-outline-secondary" type="submit">
                            Pesquisar
                            <img class="busca__icone" src="{% static '/assets/icons/search.png' %}"
                            alt="ícone de search">
                        </button>
                </div>
            </div>               
        </div>               

    </form>
    <div class="">
        <form method="POST" action="{% url 'colaborador-lista' %}">
            {% csrf_token %}
            <div class="filtroform ">
                <div class="item1" id="noprint">
                    <select class="form-select" aria-label="Default select example" name="departamento" id="departamento">
                        <option value="">Selecione o Departamento.</option>
                        <option value="FINACEIRO">FINANCEIRO</option>
                        <option value="CENTRAL_ATENDIMENTO">CENTRAL DE ATENDIMENTO</option>
                        <option value="CENTRAL_INADIMPLENCIA">CENTRAL DE INADIMPLÊNCIA</option>
                        <option value="COBRANCA">COBRANÇA</option>
                        <option value="CONTROLE_QUALIDADE">CONTROLE DE QUALIDADE</option>
                        <option value="ADMINISTRATIVO">ADMINISTRATIVO</option>
                        <option value="RELACIONAMENTO">RELACIONAMENTO</option>
                        <option value="COMERCIAL">COMERCIAL</option>
                        <option value="RH">RH</option>
                        <option value="DEP_PESSOAL">DEPARTAMENTO PESSOAL</option>
                        <option value="JURIDICO">JURIDICO</option>
                        <option value="CONTABIL">CONTÁBIL</option>
                        <option value="CENTRAL_VENDAS">CENTRAL DE VENDAS</option>
                        <option value="SUPORTE_ADM">SUPORTE ADM</option>
                        <option value="FRANQUIAS_DISTRIBUIDORES">FRANQUIAS / DISTRIBUIDORES</option>
                        <option value="GERENCIA_CORPORATIVA">GERENCIA_CORPORATIVA</option>
                        <option value="DIRETORIA_EXECUTIVA">DIRETORIA EXECUTIVA</option>
                        <option value="INFORMATICA">INFORMÁTICA</option>
                        <option value="MARKETING">MARKETING</option>
                        <option value="CERTIFICADO_DIGITAL">CERTIFICADO DIGITAL</option>
                    </select>
                    <select class="form-select" aria-label="Default select example" name="classificacao" id="classificacao">
                        <option value="">Selecione a classificação.</option>
                        <option value="FUNCIONARIO">FUNCIONÁRIO</option>
                        <option value="ESTAGIARIO">ESTAGIÁRIO</option>
                        <option value="MEI">MEI</option>
                    </select>
                </div>

                <div class="item2" id="noprint">    
                    <label >Data inicial:</label>    
                    <input type="date" name="data_inicial" id="data_inicial" class="form-control">
                    <label >Data final:</label>
                    <input type="date" name="data_final" id="data_final" class="form-control">
                    
                    <button class="btn btn-primary" type="submit">Filtrar</button>
                </div>
            </div>    
        </form>
    </div>
    <h6>Total de Colaboradores: {{quantidade}}</h6>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Colaborador</th>
                <th scope="col">Cpf</th>
                <th scope="col">Data Nasc.</th>
                <th scope="col">Mátricula</th>
            </tr>
        </thead>
        <tbody>
            {% for colaborador in colaboradores_list %}
            <tr>
                <td><a href="/colaboradorID/{{colaborador.id}}">{{ colaborador.nome }}</td>
                <td>{{ colaborador.cpf }}</td>
                <td>{{ colaborador.data_nascimento|date:"d/m/Y" }}</td>
                <td>{{ colaborador.matricula }}</td>
            </tr>

            {% empty %}
            <tr>
                <td colspan="4">nenhum colaborador encontrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  
    <div id="noprint" class="editPrint">
        <div><button onclick="window.print()" class="btn btn-primary">Imprimir</button></div> 
    </div>
<br>
    <div id="noprint" class="editPrint">
        <form action="{% url 'colaboradores_por_departamento' %}">        
            <button type="submit" class="btn btn-primary">relatorio geral</button> 
        </form>
    </div>

</div>
{% endblock %}